.user_page
  %header.user_page-header
    .yjContainer
      %a{href: ""}
        - if @user.avatar.present?
          .user_image
            = image_tag "#{@user.avatar}"
        - else
          .user_image
            = image_tag "nophoto.png"
        %h2<>
          = @user.nickname
          %span
            さんのマイページ
      - if @user.id == current_user.id
        = link_to "アイコン画像の変更", edit_user_registration_path
  .pt1em.pb1em#contents
    #main_cnt_wrapper
      #yjContentsBody
        .yjContainer
          %ul.user_page-contents
            - @reviews.each do |review|
              -# - @user.reviews.each do |review|
              -# マイページでの表示順、書き直す前のロジック
              %li{style: "background-image:url(#{review.product.image_url});"}
                %a{href: "/products/#{review.product.id}"}
                  .meta
                    %header
                      .title
                        = review.product.title
                      %span.star
                        %span.rating-star
                          %i{class: "star-actived rate-#{review.rate}0"}
                    .user_review
                      = review.review
