.user_page
  %header.user_page-header
    .yjContainer
      %a{href: ""}
        - if @user.avatar.present?
          .user_image
            = image_tag "#{@user.avatar}"
        - else
          .user_image
            = image_tag "nophoto.jpg"
        %h2<>
          = @user.nickname
          %span
            さんのマイページ
  .pt1em.pb1em#contents
    #main_cnt_wrapper
      #yjContentsBody
        .yjContainer
          %ul.user_page-contents
            - @reviews.each do |review|
              -# - @user.reviews.each do |review|
              -# マイページでの表示順、書き直す前のロジック
              %li{style: "background-image:url(#{review.product.image_url});"}
                .meta
                  %header
                    .title
                      = review.product.title
                    %span.star
                      %span.rating-star
                        %i{class: "star-actived rate-#{review.rate}0"}
                  .user_review
                    = review.review
