.user_page
  %header.user_page-header
    .yjContainer
      %a{href: ""}
        - if @user.avatar.present?
          .user_image
            = image_tag "#{@user.avatar}"
        - else
          .user_image
            = image_tag "nophoto.png"
        %h2<>
          = @user.nickname
          %span
            さんのマイページ
      - if @user.id == current_user.id
        = link_to "アイコン画像の変更", edit_user_registration_path
  .pt1em.pb1em#contents
    #main_cnt_wrapper
      #yjContentsBody
        .yjContainer
          %ul.user_page-contents
            - @reviews.each do |review|
              -# - @user.reviews.each do |review|
              -# マイページでの表示順、書き直す前のロジック
              - if review.product.image_url.present?
                %li{style: "background-image:url(#{review.product.image_url});"}
                  %a{href: "/products/#{review.product.id}"}
                    .meta
                      %header
                        .title
                          = review.product.title
                        %span.star
                          %span.rating-star
                            %i{class: "star-actived rate-#{review.rate}0"}
                      .user_review
                        = review.review
              - else
                %li{style: "background-image:url(https://lh3.googleusercontent.com/gi4lCkMdhnV6Ni4FkFaYXpDZ7Nwmy7aul6zhDevbmAfKldJ08nRa0DqIxJtx1bGQmzEpvGcEJTyEB2AbAWT283Asdzivpy6Q-3iL2-I5EL7Ha1jD_pa-oWeybZif92xUcUP4romy3gFeSK42-yTvbyKhx_5gK2qkX8fm3yxcrT0Lv17hO1lRQDRRzWVuGzrDb4Au4Qml1qJFRClYmo3D6hez5jc9Qyq0qj_7E9FrCH96Ji_LM7DGRfOJk4Mkn-ffi4JpXm6cN9CTiCIeEwOsesUPULcDxSGPqrDbxn_ds3AaCmM6TP-RWFWwm57BPxDzFqbzSTJmFnWNLqUgxvfx0ejbQbiNmqiyBrXXI68qbUxBXg2d84xILQDHND46_8zdpkSrhUj7Fnnty_uzcmp5AnRgAvSU4IDgxMWhW0lUhWiAQvGMpqVg56Z4yylGZprlS0KT3B1t8Z4gqVwmyqKuWnLw-osMkpWISxhWjAsm-t8p7U7e7V4VSBi5NFA2QJillPt3OrKV6H_s6RoanlZvdJLzmOLw_LtXrvjccasOCQvOV0L0mM8bFbey-b_j8MCKHq5SJ1aXut6PqI_ieWX_VAjaykHFs9UUPDOdhdUW3NsnWeWy0pXJbN8Pzwzc7RK0AD_nyyyjDaYaYvTcgi0QT74DamYVxF-u=w320-h453-no);"}
                  %a{href: "/products/#{review.product.id}"}
                    .meta
                      %header
                        .title
                          = review.product.title
                        %span.star
                          %span.rating-star
                            %i{class: "star-actived rate-#{review.rate}0"}
                      .user_review
                        = review.review
