.bgcolor-white.pt1em.pb1em#contents
  #main_cnt_wrapper
    #yjContentsBody
      .yjContainer
        .form_box
          %h2
            mooovi0
            %span パスワードを忘れた場合
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            %div
              = f.email_field :email, autofocus: true, placeholder: "メールアドレスを入力"
            .row
              .col-xs-6
                パスワード再設定の案内を
              .submit
                .actions
                  = f.submit "送信"

          .more_link_box
            = render "devise/shared/links"
