
%span.yjGuid
  %a#yjContentsStart{name: "yjcontentsStart"}
  %img{alt: "ここから本文です", height: "1", src: "http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif", width: "1"}
#yjMain
  %article.section
    .container
      %header.header.header--section
        %h2.text-middle
          %i.icon-movie.color-gray-light
          投稿
      %div
        = form_for @product do |f|
          .div{style: "margin: 8px 0;"}
            = f.label :title, "作品タイトル", style: "margin-right: 8px;"
            = f.text_field :title, placeholder: "タイトル名入力（必須）"
          .div{style: "margin: 8px 0;"}
            = f.label :image_url, "作品イメージ", style: "margin-right: 8px;"
            = f.text_field :image_url, placeholder: "作品のパッケージ画像のリンク入力"
          .div{style: "margin: 8px 0;"}
            = f.label :director, "監督者", style: "margin-right: 8px;"
            = f.text_field :director, placeholder: "監督名入力（必須）"
          .div{style: "margin: 8px 0;"}
            = f.label :open_date, "公開日時", style: "margin-right: 8px;"
            = f.text_field :open_date, placeholder: "（例）2016年2月28日"

          .div{style: "margin: 8px 0;"}
            = f.label :detail, "あらすじ", style: "margin-right: 8px;"
            = f.text_area :detail, placeholder: "あらすじ入力", style: "width: 100%; height: 300px;"
          .row
            .col10.push1
              = f.submit "投稿する", class: "btn btn--block"
              %i.icon-arrow-right
