%span.yjGuid
  %a#yjContentsStart{name: "yjcontentsStart"}
  %img{alt: "ここから本文です", height: "1", src: "http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif", width: "1"}
#yjMain
  %article.section
    .container
      %header.header.header--section
        %h2.text-middle
          %i.icon-movie.color-gray-light
          = @product.title
      %p{style: "float: left;"}
        / %p{style: "text-align: center;"}
        - if @product.image_url?
          %img{src: "#{@product.image_url}", alt: "#{@product.title}", style: "height: 283px; width: 200px; padding-right: 10px;"}
        - else
          = image_tag("noimage.png", alt: "#{@product.title}", style: "height: 283px; width: 200px; padding-right: 10px;")
        %p
          監督
        %p
          = @product.director
        %p
          公開日時
        %p
          = @product.open_date
        %p
          あらすじ
        %p
          = @product.detail
        %div{style: "display: block; content: ""; clear: both;"}

      %div{style: "text-align: right"}
        %a{href: "/products/#{@product.id}/reviews/new"} この作品を投稿する
      %header.header.header--section
        %h2.text-middle
          %i.icon-movie.color-gray-light
          みんなのレビュー
      %ul{style: "padding: 0;"}
        - @product.reviews.each do |review|
          %li{style: "border-bottom: dotted 1px;"}
            .thumbnail__caption
              %h3.text-xsmall.text-overflow{title: "#{review.user.nickname}"}
                = link_to "#{review.user.nickname}", "/users/#{review.user.id}", style: "font-size: 12px"
              %p.text-small
                %span.rating-star
                  %i{class: "star-actived rate-#{review.rate}0"}
              = simple_format(review.review)
              -# レビュー欄にて、改行を適用させる為、メソッド使用。
              %p{style: "font-size: 12px;"}
                投稿日時
                = format_posted_time(review.created_at)
