%span.yjGuid
  %a#yjContentsStart{name: "yjcontentsStart"}
  %img{alt: "ここから本文です", height: "1", src: "http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif", width: "1"}
#yjMain
  %article.section
    .container
      %header.header.header--section
        %h2.text-middle
          %i.icon-movie.color-gray-light
          投稿
      %div
        %ul.listview.js-lazy-load-images
          %li{style: "margin-bottom: 15px;"}
            %a.listview__element--right-icon{href: "/products/#{@product.id}"}
              .box
                .box__cell.w80
                  .thumbnail.thumbnail--photo
                    .thumbnail__figure{style: "background-image: url(#{@product.image_url});"}
                .box__cell.pl1em
                  %h3.text-middle.text-break.color-sub
                    =@product.title
                  %p.text-small
                  %p.text-small.opacity-60
      = form_for [@product, @review] do |f|
        .div{style: "margin: 8px 0;"}
          = f.label :rate, "点数", style: "margin-right: 8px;"
          = f.number_field :rate, value: "1", max: "10", min: "1", html:{class: "search__query", style: "text-align: right;"}
          (10段階評価)
          -# この位置に記載することで、『div』の中に入れられる。
        .div{style: "margin: 8px 0;"}
          = f.label :review, "レビュー欄", style: "margin-right: 8px;"
          = f.text_area :review, placeholder: "レビューを書いてね！", style: "width: 100%; height: 300px;"
        .row
          .col10.push1
            = button_tag type: "submit", class: "btn btn--block" do
              投稿する
              %i.icon-arrow-right
