!!!
%html.pc{:lang => "ja", "xmlns:fb" => "http://ogp.me/ns/fb#", "xmlns:og" => "http://ogp.me/ns#"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Mooovi0
    %link{:href => "http://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body.yj950-2
    #wrapper
      #yjContentsHeader
        %nav.globalnav
          .globalnav__menu
            %ul.gmenu
              %li.logo{style: "float:left"}
                %a{href: "/"} mooovi0
      -# deviseでフラッシュメッセージを出す設定
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      = yield
