!!!
%html.pc{:lang => "ja", "xmlns:fb" => "http://ogp.me/ns/fb#", "xmlns:og" => "http://ogp.me/ns#"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title mooovi0
    %link{:href => "http://fonts.googleapis.com/css?family=Signika:700,300,400,600", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body.yj950-2
    #wrapper
      #yjContentsHeader
        %nav.globalnav
          .globalnav__menu
            %ul.gmenu
              %li.logo{style: "float: left"}
                %a{href: "/"} mooovi0
              - if user_signed_in?
                %li.entry_button{style: "float: right"}
                  = link_to 'サインアウト', "/users/sign_out", method: :delete
                %li.entry_button{style: "float: right"}
                  = link_to 'マイページ', "/users/#{current_user.id}"
                %li.entry_button{style: "float: right"}
                  %a{href: "/products/search_director"} 監督名で投稿
                %li.entry_button{style: "float: right"}
                  %a{href: "/products/search"} 作品名で投稿

              - else
                %li.entry_button{style: "float: right"}
                  = link_to "サインイン", "/users/sign_in"
                %li.entry_button{style: "float: right"}
                  %a{href: "/products/search"} 投稿する
            -#
              %li.entry_button{style: "float: right"}
                %a{href: "/products/search"} 投稿する
      -# deviseでフラッシュメッセージを出す設定を追記
      - if notice
        %p.alert.alert-success= notice
      - if alert
        %p.alert.alert-danger= alert
      #contents.bgcolor-white.pt1em.pb1em
        #main_cnt_wrapper
          #yjContentsBody
            .yjContainer
              = yield
              #yjSub
                %aside.section
                  %h4.text-small.hr-bottom--thin.no-space-bottom
                    %i.icon-crown.color-gray-light
                    投稿ランキング
                  %ul.listview.listview--condensed.text-small
                    - @ranking.each.with_index(1) do |product, i|
                      -# 『each』メソッド と『with_index』メソッド を使用
                      -# 引数を渡すことで、その番号からナンバリングが開始される。
                      %li{"data-cinema-id" => "346394"}
                        %a{href: "/products/#{product.id}"}
                          .box
                            .box__cell.w40.align-center
                              %p.label.bgcolor-gray-lighter.align-center
                                = i
                            .box__cell.pl1em
                              %p.text-xsmall.no-space
                                = product.title
                              %img{alt: "", src: "#{product.image_url}", style: "height: 283px; width: 200px;"}/
    .copyright
      Copyright (C) 2018  xoxo Corporation. All Rights Reserved.
